<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro usuário</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="_css/estiloLogin.css">
    <style>
        div#frame{
            width: 400px;
        }
    </style>
</head>
<body>
    <div id="frame">
        <h1>Cadastro</h1>
        <form method="post" action="/cadastro">
            <div class="campo" >
                <label for="exampleInputEmail1">Nome:</label> 
                <input type="text" name="nome" id="nomeUsuario" placeholder="Nome" required>
            </div>
            <div class="campo">
                <label for="">Email:</label>
                <br>
                <input type="email" class="form-control" name="email" id="emailUsuario" placeholder="Email" required>
            </div>
            <div class="campo">
                <label for="">Senha:</label>
                <br>            
                <input type="password" class="form-control" name="senha" id="senhaUsuario" placeholder="Senha" required>
            </div>
            <div class="campo">
                <label for="">Confirme a senha:</label>
                <br>
                <input type="password" class="form-control" name="confSenha" id="confSenhaUsuario" placeholder="Confirme a senha" required>
            </div>
            <p>Já possui cadastro? <a href="login.html">Faça Login</a></p>
            <button class="btn btn-success">Se inscrever</button>
            <button  style="margin-top: 10px;"  class="btn btn-defauld" type="button" value="voltar" onclick="history.go(-1)">Voltar</button>
        </form>
        
    </div>


</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
