<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="_css/estilo.css">
    <link rel="stylesheet" href="_css/estiloCatalogoCategorias.css">
    <style>
        nav#menu{
            display: block;
        }

        div#divBotao {
            height: auto;
            list-style: none;
            text-transform: uppercase;
            position: relative;
            border-radius: 5px;
            left: 35%;
        }
     
        button.botaoCadastroCategoria {
            font-size: 1.2em;
            background-color:#dddddd;
            border: 0;
            margin-bottom: 1em;
            padding: 0.2em 0.6em;
            box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);  
            position: relative;
            cursor: pointer;
            margin-bottom: 0px;
            top: 87%;
            left: 42%;
            margin-right: -50%;
        }

        .botaoCadastroCategoria:hover{
            background-color: #606060;
            box-shadow: inset 2px 2px 2px rgba(0, 0, 0,0.2);
            text-shadow: none;
        }

    </style>
</head>
<body>
    <div id="interface">
        <header id = "cabecalho">
            <!-- <h1>Loja do Fulano</h1> -->
            <nav id="menu" > <!-- Determina um menu de navegação, tudo que estiver dentro dessa tag será considerada parte do menu -->
                <ul>
                    <h1>Página inicial</h1>
                    <li><a href="/">Página principal</a> </li> 
                    <li><a href="categorias.ejs">Categorias</a></li>  
                    <li><a href="sobre_nos.ejs">Sobre nós</a></li>
                    <li><a href="login.ejs">Perfil</a></li>
                </ul>
            </nav>
        </header>
        <div id="divBotao">
            <a href="cadastroCategoria.ejs"><button class="botaoCadastroCategoria" >Cadastrar Categoria</button></a>
        </div>
        <h2>Categorias</h2>
        <%list.forEach(function(lists){%>
        <section class="catalogo" id="catalogo">
                <div class="cardsCategoria">
                    <div class="conteudoCard">
                        <h4><%=lists%></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <form method="post" action="/categorias">
                        <button  class="botaoVisualizar" name="categoria" type="submit" value="<%=lists%>">Visualizar</button>
                        </form>
                    </div>
                </div>
            <br>
        </section>
        <%})%>
        <footer id = "rodape"> <!--É o rodapé da página, onde fica as informações-->
            &copy; Copyright 2021 - by <a href="https://github.com/Gustavo-caetano">Gustavo Caetano</a>  e <a href="https://github.com/Valmir-Cunha">Valmir Cunha</a> 
        </footer>
    </div>
</body>
</html>
