<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="_css/estiloLogin.css">
</head>
<body>
    <div class="container-fluid">
    <div id="frame">
        <h1>Login</h1>
        <form method="post" action="/logim">
            <div class="campo">
                <label for="">Email:</label>
                <br>
                <input type="email" class="form-control" name="email" id="emailLogin" placeholder="Email" required>
            </div>
            <div class="campo" style="margin-bottom: 5px; padding-bottom: 5px;">
                <label for="">Senha:</label>
                <br>
                <input type="password" class="form-control" name="senha" id="senhaLogin" placeholder="Senha" required>
            </div>
            <p>Não possui cadastro? <a href="cadrastoUsuario.html" class="nav-a">Cadastre-se</a></p>
            <br>
            <button type="submit" class="btn btn-primary" >Conectar</button>
            <button class ="btn btn-defauld"style="margin-top: 10px;" type="button" value="voltar" onclick="history.go(-1)">Voltar</button>
        </form>
        <script src="/java/funcoes.js"></script>
    </div>
  </div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
