<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="_css/estilo.css">
    <link rel="stylesheet" href="_css/estiloCatalogo.css">
    <style>
        nav#menu{
            display: block;
        }

        div#divBotao {
            height: auto;
            list-style: none;
            text-transform: uppercase;
            position: relative;
            left: 35%;
        }
     
        button.botaoCadastro {
            font-size: 1.2em;
            background-color:#dddddd;
            border: 0;
            margin-bottom: 1em;
            padding: 0.2em 0.6em;
            box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);  
            position: relative;
            cursor: pointer;
            margin-bottom: 0px;
            top: 87%;
            left: 42%;
            margin-right: -50%;
        }

        .botaoCadastro:hover{
            background-color: #606060;
            box-shadow: inset 2px 2px 2px rgba(0, 0, 0,0.2);
            text-shadow: none;
        }

    </style>
</head>
<body>
    <div id="interface">
        <header id = "cabecalho">
            <!-- <h1>Loja do Fulano</h1> -->
            <nav id="menu" > <!-- Determina um menu de navegação, tudo que estiver dentro dessa tag será considerada parte do menu -->
                <ul>
                    <h1>Página inicial</h1>
                    <li><a href="/">Página principal</a> </li> 
                    <li><a href="produtos.ejs">Produtos</a></li> 
                    <li><a href="sobre_nos.ejs">Sobre nós</a></li>
                    <li><a href="login.ejs">Perfil</a></li>
                </ul>
            </nav>
        </header>
        <div id="divBotao">
            <a href="cadastroProduto.ejs"><button class="botaoCadastro" >Cadastrar Produtos</button></a>
        </div>
        <section class="catalogo" id="catalogo">
            <div class="conteudo">
                <div class="tituloCatalogo">
                    <h2>Produtos</h2>
                </div>
                <div class="filtro">
                    <input type="text" class="buscarInput" placeholder="Digite o nome do produto">
                    <button class="buscarProduto">Buscar</button>
                </div>
                <div class="cardsProdutos">
                    <div class="cardItem">
                        <img src="_imagens/Furadeira-de-Impacto-12-Pol-13mm-500W-11-schulz-plus1.jpeg" alt="Imagem Produto">
                    </div>
                    <div class="conteudoCard">
                        <h4>Furadeira</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <a href="produtoView.ejs"> <button class="botaoVisualizar" type="button">Visualizar</button></a>
                    </div>
                </div>
            </div>
        </section>
        <footer id = "rodape"> <!--É o rodapé da página, onde fica as informações-->
            &copy; Copyright 2021 - by <a href="https://github.com/Gustavo-caetano">Gustavo Caetano</a>  e <a href="https://github.com/Valmir-Cunha">Valmir Cunha</a> 
        </footer>
    </div>
    
</body>
</html>
