@charset "UTF-8";
*{
    height: 100%;
}

body{
    background-repeat: no-repeat;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #dddddd;
    /* background-image: linear-gradient(to bottom,cyan,yellow); */
 }

div#frame{
    display: block;
    height: auto;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    border-radius: 15px;
    color: seashell;
}

div#frame h1{
    text-align: center;
}

div#frame p{
    text-align: center;
    font-size: 10pt;
}

div#frame a{
    color: white;
    font-weight: bold;
}

div#frame .campo{
    margin: 15px;
    padding: 5px;
}

input{
    border-radius: 5px;
    padding: 10px;
    border:none;
    outline:none;
    font-size: 20px;
    width: 100%;
}

.campo input:focus { /*Destaca o campo que está em foco*/
    background-color: #e0e0f8;
}

button{
    background: #666666;
    border:none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    font-size: 12pt;
}

button:hover{
    background-color: #606060;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0,0.2);
    text-shadow: none;
}

